<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Impulse</string>
	<key>CFBundleGetInfoString</key>
	<string>Impulse v0.9.2 Copyright 2024 Tonkraf</string>
	<key>CFBundleIdentifier</key>
	<string>com.Tonkraf.vst3.Impulse</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Impulse</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.2</string>
	<key>CFBundleSignature</key>
	<string>1YEo</string>
	<key>CFBundleVersion</key>
	<string>0.9.2</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.15.0</string>
</dict>
</plist>
